<ion-view name="{{article.title}}" class="article-content-container">

	<div class="article-header">
		<i class="icon ion-ios-arrow-back back-icon" ng-click="goBack()"></i>
		<i class="icon ion-android-share-alt share-icon" ng-click="shareArticle(article)"></i>
	</div>
  <ion-content class="article-detail-container" on-scroll="scrollHandler()">
		
		<div class="image-container" ng-if="!hasVideo">
			<h2 class="article-title"> {{ ::title }}</h2>
			<div class="overlay"></div>		
			<img ng-src="{{ :: image }}" class="article-image">			
		</div>

		<div class="video-container" ng-if="hasVideo">
			<iframe width="{{videoWidth}}" height="180" ng-src="{{video}}" frameborder="0" allowfullscreen></iframe>

			<h2 class="article-title"> {{ ::title }}</h2>
		</div>

		<div class="article-details">
			<div class="source">
				<i class="icon ion-social-rss"></i>
				{{ :: source }}
			</div>

			<div class="time">
				<i class="icon ion-android-time"></i>
				{{ :: prettyDate(date)}}
			</div>

			<div class="likes">
				<span ng-click="likeArticle()">
					<i class="icon ion-ios-heart-outline" ng-class="{'ion-ios-heart' : userLike == 1}"></i>
					{{ :: likes }}
				</span>
			</div>
		</div>
	
   	<div class="article-content" ng-bind-html="content"></div>

   	<div ng-controller="FollowCtrl" class="follow-container">
			
			<h2 class="article-movie-name"> {{ :: movieName }} </h2>

      <a class="followBtn" ng-class="{ follow : trend.follow == 0, following: trend.follow == 1 }" ng-click="toggleFollow(trend)" name="followBtn"> {{ trend.follow == 1 ? "Following" : "Follow" }} </a>
    </div>

		<div class="tags-container">
			<div ng-repeat="tag in tags track by tag.tag_name" ui-sref="tab({slideNo:3, searchTag: tag})" class="movie-tag"> {{ :: tag.tag_name }}</div>
		</div>

  </ion-content>
</ion-view>
