<ion-view view-title="Home">

  <div class="discover-movies" ng-class="{ 'discover-movies--fixed' : viewAllMoviesToggle}">
    <span>Discover movies to follow</span>

    <span class="view-all" ng-click="viewAllMovies()" ng-show="!viewAllMoviesToggle">View All
      <i class="icon ion-ios-arrow-forward"></i>
    </span>

    <span ng-show="viewAllMoviesToggle" class="view-all--cancel" ng-click="hideAllMovies()">
      <i class="icon ion-android-cancel placeholder-icon cancel-icon"></i>
    </span>

  </div>

  <div class="popular-articles-popup" ng-show="pollPopupToggle == true" ng-click="scrollToTop()">
    <i class="ion-chevron-up"></i>
    {{ :: pollCount }} new article<span>{{ pollCount > 1 ? 's' : ''}}</span>
  </div>

  <ion-content lazy-scroll>
  
    <div class="discover-movies-container" ng-show="discoverMoviesToggle">
      
      <div class="discover-movies" ng-class="{ 'discover-movies--fixed' : viewAllMoviesToggle}">
        <span>Discover movies to follow</span>

        <span class="view-all" ng-click="viewAllMovies()" ng-show="!viewAllMoviesToggle">View All
          <i class="icon ion-ios-arrow-forward"></i>
        </span>
        
        <span ng-show="viewAllMoviesToggle" class="view-all--cancel" ng-click="hideAllMovies()">
          <i class="icon ion-android-cancel placeholder-icon cancel-icon"></i>
        </span>
      
      </div>

      <ion-list class="list-inset movie-list">
      
        <ion-item class="movie-recommended" ng-repeat="movie in movies track by movie.movie_id">

          <div ng-controller="FollowCtrl">
            <h2 ui-sref="movie({movieId: movie.movie_id})">{{ ::movie.name | limitTo: 27}}<span>{{ movie.name.length > 27 ? '...' : ' '}}
            </span>
            </h2>

            <a class="followBtn" ng-class="{ follow : movie.follow == 0, following: movie.follow == 1 }" ng-click="toggleFollow(movie)" name="followBtn"> {{ movie.follow == 1 ? "Following" : "Follow" }} </a>

            <div class="overlay" ></div>

            <img image-lazy-src="{{ ::movie.image }}" image-lazy-distance-from-bottom-to-load="300" class="movie-img" ui-sref="movie({movieId: movie.movie_id})">

            <div class="movie-recommended movie--loading" ng-show="!movieLoadAble">
              <div class="loading"></div>
            </div>

          </div>
        </ion-item>
          
      </ion-list>

      <ion-infinite-scroll
        ng-if="moreMoviesAvailable() && viewAllMoviesToggle"
        on-infinite="loadMoreMovies()"
        distance="10%">
      </ion-infinite-scroll>  
    </div>
    

    <div class="popular-articles-container" ng-hide="viewAllMoviesToggle">
      <div class="popular-articles">
        <span>Popular Articles </span>
        <span class="time">
        <i class="icon ion-android-time"></i>
        {{ :: prettyDate(articles[0].createdon) }} </span>
      </div>

      <ion-list class="list-inset article-list">
        <ion-item class="article-popular" ng-repeat="article in articles track by article.article_id">

          <h2 ui-sref="article({articleId: article.article_id})"> {{ ::article.title | limitTo: 27}}<span>{{ article.title.length > 27 ? '...' : ' ' }}
          </span></h2>
          
          <div class="overlay"></div>

          <img image-lazy-src="{{ article.hero_image.length < 1 ? 'http://img.youtube.com/vi/' + article.hero_video_url + '/0.jpg' : article.hero_image }}" image-lazy-distance-from-bottom-to-load="300" image-lazy-loader="crescent" class="article-img" ui-sref="article({articleId: article.article_id})">
        </ion-item>

        <div class="article-popular article--loading" ng-show="!articleLoadAble">
          <div class="loading"></div>
        </div>
      </ion-list>

      <ion-infinite-scroll
        ng-if="moreArticlesAvailable()"
        on-infinite="loadMoreArticles()"
        distance="10%">
      </ion-infinite-scroll>
    </div>

    <div class="end-of-list" ng-show="articleLoadAble"> End of Data </div>

  </ion-content>
</ion-view>
