<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-content scroll="false">
  <ion-slide-box show-pager="false" ion-slide-tabs on-slide-change="slideHasChanged()">
    
    <ion-slide
      ion-slide-tab-label="<i class='ion-android-home home-icon'></i>">
      <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-slide>

    <ion-slide
      ion-slide-tab-label="<i class='ion-arrow-graph-up-right trending-icon'></i>">
      <ion-nav-view name="tab-trending"></ion-nav-view>
    </ion-slide>

    <ion-slide
      ion-slide-tab-label="<i class='ion-film-marker trailers-icon'></i>">
      <ion-nav-view name="tab-trailers"></ion-nav-view>
    </ion-slide>

    <ion-slide
      ion-slide-tab-label="<i class='ion-search search-icon'></i>">
      <h1>Tab 4</h1>
    </ion-slide>

    <ion-slide
      ion-slide-tab-label="<i class='ion-person profile-icon'></i>">
      <h1>Tab 5</h1>
    </ion-slide>
  
  </ion-slide-box>
</ion-content>