<ion-content scroll="false">
  <div class="no-connection-overlay" ng-show="!connectionAvailable && connectionPopupToggle">
    <div class="no-connection-popup">
      <span> Sorry, but you don't seem to be connected to the internet.</span>
    </div>
    <i class="ion-ios-close-outline close-icon" ng-click="closeConnectionPopup()"></i>
  </div>

  <ion-view ng-hide="loggedIn == true" ng-include="'templates/welcome.html'" ng-controller="WelcomeCtrl" class="welcome-content" view-title="Welcome"></ion-view> 
  
  <ion-slide-box  show-pager="false" ion-slide-tabs on-slide-change="slideHasChanged()" does-continue="false">
    
    <ion-slide
      ion-slide-tab-label="<i class='ion-android-home home-icon'></i>">
      <ion-view ng-include="'templates/home.html'" ng-controller="HomeCtrl" view-title="Home"></ion-view>
    </ion-slide>

    <ion-slide
      ion-slide-tab-label="<i class='ion-arrow-graph-up-right trending-icon'></i>">
      <ion-view ng-include="'templates/trending.html'" ng-controller='TrendingCtrl' view-title="Trending"></ion-view>
    </ion-slide>

    <ion-slide
      ion-slide-tab-label="<i class='ion-film-marker trailers-icon'></i>">
      <ion-view ng-include="'templates/trailers.html'" ng-controller="TrailersCtrl" view-title="Trailers"></ion-view>
    </ion-slide>

    <ion-slide
      ion-slide-tab-label="<i class='ion-search search-icon'></i>">
      <ion-view ng-include="'templates/search.html'" ng-controller='SearchCtrl' view-title="Search"></ion-view>
    </ion-slide>

    <ion-slide
      ion-slide-tab-label="<i class='ion-person profile-icon'></i>" on-drag-right="enableSlide()">
      <ion-view ng-include="'templates/profile.html'" ng-controller='ProfileCtrl' view-title="Profile"></ion-view>
    </ion-slide>
  </ion-slide-box>
</ion-content>